.card {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.like-icon {
    height: 20px;
    width: 20px;
    color: gray;
}

.comment-icon {
    height: 20px;
    width: 20px;
}

.edit-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.delete-icon {
    height: 20px;
    width: 20px;
}

.detail-info {
    display: flex;
    font-size: 0.8rem;
}

.detail-time {
    margin-left: auto;
}

.card-img {
    width: 40%;
}

.like-section {
    display: flex;
    margin-top: 10px;
}

.like-button {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.num_likes {
    margin-left: 10px;
    margin-top: 15px;
}