.card {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.like-icon {
    height: 20px;
    width: 20px;
}

.comment-icon {
    height: 20px;
    width: 20px;
}

.edit-icon {
    height: 20px;
    width: 20px;
}

.detail-info {
    display: flex;
    font-size: 0.8rem;
}

.detail-time {
    margin-left: auto;
}