.comment {
    border: solid #dee2e6;
    background-color: #e9ecef;
    margin-top: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.cmt-like-section {
    display: flex;
}


.cmt-like-icon {
    height: 15px;
    width: 15px;
    margin-top: 2.5px;
    margin-left: 5px;
}

.cmt-like-icon:hover {
    cursor: pointer;
}


.cmt-num-likes {
    font-size: smaller;
    margin-bottom: 0px;
    margin-left: 10px;
}