.feed-post {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: auto;
    border: solid #dee2e6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.feed-post-title {
    margin-bottom: 0px;
}

.top-info {
    display: flex;
}

.bottom-info {
    display: flex;
}

.topic {
    margin-left: auto;
}

.num-likes {
    margin-left: auto;
    margin-bottom: 0px;
}

.user {
    margin-bottom: 0px;
}

.time {
    margin-bottom: 0px;
    margin-left: 0px;
}