.sidebar {
    margin-top: 50px;
    margin-left: 5%;
    width: 80%;
    border: solid #dee2e6;
    border-radius: 10px;
}

.sidebar>ul {
    list-style: none;
}

.sidebar>ul>li {
    margin-top: 20px;
    margin-bottom: 20px;
}

a:active {
    color: #747bff;
}